#app {
  display: flex;
  align-items: center;
  color: black;
  font-weight: normal;
  width: 80%;
  margin-top: 3%;
  margin-left: 3%;
}

.user-info {
  display: flex;
  align-items: center;
  background-color: #f2f2f2ca;
  border: 0.2vh solid #b3c2bf;
  padding: 1vh;
  position: absolute;
  right: 9vw;
  top: 3vh;
  border-radius: 0.3vw;
}

.user-info p {
  color: #3c763d;
  font-weight: bold;
  font-size: 2.5vh;
  margin: 0;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 0.7vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vh;
  cursor: pointer;
  border-radius: 0.3vw;
}

.user-info button{
  margin-left: 1vw;
}

.container{
  margin-left: 10%;
  width: 100%;
}

.head{  
  display: flex;
  align-items: center;
}

.nav-bar {
  display: flex;
  margin-left: 30%;
  margin-bottom: 2%;
}

.nav-bar a {
  color: #333;
  text-decoration: none;
  margin-right: 2vh;
  font-size: 3vh;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-bar a:hover {
  color: #4CAF50;
}

.container h1{
  color: #023e02;
  font-size: 8vh;
  font-weight: bold;
  width: 100%;
}

#music {
  position: absolute;
  width: 9vw;
  border-radius: 0.3vw;
  right: 9vw;
}

#register-view {
  background-color: #f2f2f2ca;
  border: 0.2vh solid #b3c2bf;
  padding: 3vw;
  margin-bottom: 1vh;
  border-radius: 0.3vw;
}

#register-view h1 {
  color: #3c763d;
  font-size: 4vh;
  margin-top: 0;
}

#register-view label {
  display: block;
  font-size: 2.5vh;
  margin-bottom: 0.25vh;
}

#register-view input {
  padding: 1vh;
  font-size: 2vh;
  border-radius: 0.25vh;
  border: none;
  margin-bottom: 1vh;
}

#reg-button {
  margin-top: 1vh;
}

#sub-ans{
  padding: 0.2vw;
  background-color: #7e9c66ca;
}

#submit{
  background-color: #a8a11c;
}

.quiz {
  background-color: #f2f2f2ca;
  border: 0.2vh solid #b3c2bf;
  padding: 2vh;
  margin-bottom: 1vh;
}

.quiz h1 {
  color: #3c763d;
  font-size: 4vh;
  margin-top: 0;
}

.quiz h3 {
  font-size: 2.5vh;
  margin-top: 2vh;
}

.quiz p {
  font-size: 1.5vh;
  margin: 0;
  margin-bottom: 1vh;
}

.quiz-box {
  display: inline-block;
  margin: 1.5vw;
  padding: 2vh;
  border: 0.1vw solid green;
  background-color: #f2f2f2ca;
  border-radius: 0.3vw;
  text-align: center;
  cursor: pointer;
}

.quiz-box:hover {
  background-color: green;
  color: white;
}

.quiz-title {
  font-size: 3vh;
  font-weight: bold;
}

.quiz-title-link {
  text-decoration: none;
  color: inherit;
}

.quiz label {
  display: block;
  margin-bottom: 1vh;
  font-size: 2vh;
}

.quiz input[type="radio"] {
  margin-right: 1vw;
}

.quiz button[type="button"] {
  margin-top: 1vh;
}

.quiz p:last-of-type {
  margin-top: 1vh;
}

.timer{
  font-size: 3vh;
  font-weight: bold;
}

body {
  display: flex;
  place-items: center;
  background-image: url('bgg.gif');
  background-color: white;
  background-size: cover;
  font-family: 'Segoe UI', 'sans-serif';
}
