@import url('https://fonts.googleapis.com/css?family=Spectral');
body {
    font-family: 'sans-serif';
    background-image: url('bgg.gif');
    background-color: #cccccc;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
}

h1 {
    text-align: center;
    font-size: 5vh;
    width: 15%;
    margin-top: 4vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vh;
    border-radius: 5px;
    background-color: #f2f2f2ca;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;
    border-radius: 5px;
    background-color: #f2f2f2ca;
}

form label,
form input,
form button {
    display: inline-block;
    margin: 2vh;
    font-size: 2.5vh;
}

input[type="text"],
input[type="date"] {
    font-size: 2.1vh;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: 'Spectral';
}

button[type="button"] {
    font-size: 2.5vh;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Kalam';
    font-weight: bold;
}

button[type="button"]:hover {
    background-color: #3e8e41;
}

#search {
    margin-left: 10px;
    width: 15%;
}

#imgUpload {
    display: none;
}

.custom-file-upload {
    font-size: 2.5vh;
    display: inline-block;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.custom-file-upload:hover {
    background-color: #3e8e41;
}

.task-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.task-columns h2 {
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: -10px;
    font-size: 4vh;
}

.task-column {
    width: calc(50% - 40px);
    padding: 0px 10px;
    border-radius: 5px;
    background-color: #f2f2f25a;
}

.content {
    margin-top: 10px;
}

#task-list,
#done-task-list {
    padding: 10px;
}

.task-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f2f2f2;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Spectral';
}

.task-item input[type="checkbox"] {
    margin-right: 10px;
    accent-color: #88d263;
}

.deadline-text {
    width: 10%;
    margin-left: auto;
    color: #ea8417;
    padding: 1vw;
}

.task-text,
.new-description {
    width: 30%;
    margin-right: 2%;
    overflow-wrap: break-word;
}

.task-text {
    font-weight: bold;
}

.new-description {
    width: 40%;
    text-align: justify;
}

.edit-button,
.delete-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
    padding: 0 5px;
}

.edit-button {
    font-family: 'Spectral';
    transform: rotateZ(90deg);
    font-size: 2.5vh;
}

#done-task-list {
    opacity: 0.5;
}

.delete-button {
    font-weight: bold;
    color: #ff6666;
}